# Dependencies
node_modules
.pnpm-store

# Next.js
.next
out
build
dist

# Turborepo
.turbo

# Environment Variables
.env
.env*.local

# System Files
.DS_Store
Thumbs.db
*.log

# IDEs
.vscode
.idea
*.swp
*.swo

# Temporary
tmp/
